{{ use ('yii\helpers\Url')}}

{{ set(this, 'title', 'Home') }}

<div class="row">

            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                    {% for category in categories  %}
                    <div style="background: rgb(250,250,200);">
                        <h2 class="text-center">
                            <a href="{{ url('dataset-category/view' ,{ 'id' : category.primaryKey  } ) }}"><br/>
                                <span class="glyphicon glyphicon-tint"></span>
                                    <strong>{{category.title}}</strong>
                            </a>
                        <h2/>
                    </div>
                    <div>
                        <blockquote>
                        <p class="text-justify">{{category.description}}</p>
                        </blockquote>
                    </div>
                    {% endfor %}

            </div>

        </div>
